@charset "UTF-8";

:root {
    /* 白天模式 */
    --bg-color-light: #e8e8e8; /* 白天模式背景色 */
    --text-color-light: #000000; /* 白天模式文字颜色 */
    --link-color-light: #000000; /* 白天模式链接颜色 */
    --category-bg-color: rgba(255, 255,255, 0.1); /* 分类背景色 */
    --category-shadow-color: rgba(0, 0, 0, 0.2); /* 分类阴影颜色 */
    /* 夜间模式 */
    --bg-color-dark: #333; /* 夜间模式背景色 */ 
    --text-color-dark: #ffffff; /* 夜间模式文字颜色 */
    --link-color-dark: #eeeeee; /* 夜间模式链接颜色 */
    /* 页眉页脚 */   
    --header-bg-color: #282828; /* 页眉背景色 */
    --footer-bg-color: #282828; /* 页脚背景色 */
    --footer-text-color: #8C8C8C; /* 页脚文字颜色 */
    /* 搜索框 */   
    --search-bg-color: #f1f1f1; /* 搜索框背景色 */
    --search-button-bg-color: #ff5500; /* 搜索按钮背景色 */
    --search-button-hover-bg-color: #0056b3; /* 搜索按钮悬停背景色 */

}

/* Body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.con {
    flex: 1;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--bg-color-light); /* 白天模式背景色 */
    color: var(--text-color-light); /* 白天模式文字颜色 */
    transition: background-color 0.3s, color 0.3s; /* 背景色和文字颜色过渡效果 */
    font-size: medium;
}
/* 夜间模式切换end */
main {
    flex: 1; /* 占据剩余空间 */
    padding: 20px; /* 内边距 */
    background-color: var(--bg-color-light); /* 白天模式背景色 */
    color: var(--text-color-light); /* 白天模式文字颜色 */
    transition: background-color 0.3s, color 0.3s; /* 背景色和文字颜色过渡效果 */
}
main.dark-mode {
    background-color: var(--bg-color-dark); /* 夜间模式背景色 */
    color: var(--text-color-dark); /* 夜间模式文字颜色 */
}
main a {
    color: var(--link-color-light); /* 白天模式链接颜色 */
    text-decoration: none; /* 去掉下划线 */
    clear: both; /* 清除浮动 */
}

main a:hover {
    text-decoration: underline; /* 悬停时下划线 */
}

main.dark-mode a {
    color: var(--link-color-dark);  /* 夜间模式链接颜色 */
}


.mode-toggle {
    padding: 10px 20px; /* 内边距 */
    font-size: 24px; /* 字体大小 */
    cursor: pointer; /* 鼠标指针样式 */
    background-color: transparent; /* 背景透明 */
    color: var(--text-color-dark); /* 文字颜色 */
    border: none; /* 无边框 */
    border-radius: 5px; /* 圆角 */
    width: 50px; /* 宽度 */
    float: right; /* 右浮动 */
}

.mode-toggle:hover {
    background-color: var(--search-button-hover-bg-color); /* 悬停时背景色 */
}

#mode-toggle-icon {
    transition: transform 0.3s; /* 图标旋转过渡效果 */
}

main.dark-mode #mode-toggle-icon {
    transform: rotate(360deg); /* 夜间模式图标旋转 */
}
/* 夜间模式切换end */





/* 顶部条 */
.header {
    width: 100%; /* 宽度 */
    height: 50px; /* 高度 */
    background-color: var(--header-bg-color); /* 顶部条背景色 */
    float: left; /* 左浮动 */
}

.headerlogo {
    width: 250px; /* 宽度 */
    margin-top: 10px; /* 上外边距 */
    margin-left: 20px; /* 左外边距 */
    float: left; /* 左浮动 */
}

#time-display {
    width: 220px; /* 宽度 */
    margin-top: 13px; /* 上外边距 */
    margin-left: 20px; /* 左外边距 */
    float: left; /* 左浮动 */
    font-size: 18px; /* 字体大小 */
    font-weight: bold; /* 加粗 */
    color: #fff; /* 时间显示文字颜色 */
}

.headertag {
    height: 50px; /* 高度 */
    float: right; /* 右浮动 */
    margin-left: 0px; /* 左外边距 */
}

.headertag nav ul {
    margin-top: 12px; /* 上外边距 */
    list-style-type: none; /* 无列表样式 */
    float: right; /* 右浮动 */
    padding: 0px;
}

.headertag nav ul li {
    width: 40px; /* 宽度 */
    text-align: center; /* 文字居中 */
    float: left; /* 左浮动 */
}

.slogan {
    width: 100%; /* 宽度 */
    height: 200px; /* 高度 */
    float: left; /* 左浮动 */
    display: flex; /* 弹性布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    padding-top: 40px; /* 上内边距 */
}

/* 搜索框 start */
.search {
    width: 100%; /* 宽度 */
    float: left; /* 左浮动 */
    display: flex; /* 弹性布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.search-section {
    position: relative; /* 相对定位 */
    display: flex; /* 弹性布局 */
    width: 70%; /* 宽度 */
    max-width: 1200px; /* 最大宽度 */
    margin-top: 14px; /* 上外边距 */
    margin-bottom: 10px; /* 下外边距 */
}

.search-left {
    display: flex; /* 弹性布局 */
    width: 90%; /* 宽度 */
    height: 54px; /* 高度 */
    line-height: 20px; /* 行高 */
    border: 1px solid rgba(217, 217, 217, 0.96); /* 边框 */
    float: right; /* 右浮动 */
}

.search-logo {
    width: 40px; /* 宽度 */
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    background: url(".static/img/SC/scgoogle.png") center center no-repeat; /* 背景图片 */
    filter: grayscale(100%); /* 灰度滤镜 */
    cursor: pointer; /* 鼠标指针样式 */
}

.search-logo:hover {
    filter: grayscale(0%); /* 悬停时取消灰度滤镜 */
}

.search-methods {
    display: none; /* 隐藏 */
    position: absolute; /* 绝对定位 */
    left: 0; /* 左对齐 */
    top: 54px; /* 上对齐 */
    width: 155px; /* 宽度 */
    border: 1px solid rgba(217, 217, 217, 0.96); /* 边框 */
    background-color: #fff; /* 背景色 */
}

.search-methods li {
    padding-left: 40px; /* 左内边距 */
    background: url(static/img/SC/scgoogle.png) 10px no-repeat; /* 背景图片 */
    overflow: hidden; /* 隐藏溢出内容 */
    height: 34px; /* 高度 */
    line-height: 34px; /* 行高 */
    color: #545454; /* 文字颜色 */
    cursor: pointer; /* 鼠标指针样式 */
}

.search-logo.baidu, li.baidu {
    background-image: url("static/img/SC/scbaidu.png"); /* 背景图片 */
}

.search-logo.bing, li.bing {
    background-image: url("static/img/SC/scbing.png"); /* 背景图片 */
}

.search-logo.sogou, li.sogou {
    background-image: url("static/img/SC/scsogou.png"); /* 背景图片 */
}

.search-logo.wangpan, li.wangpan {
    background-image: url("static/img/SC/scwangpan.png"); /* 背景图片 */
}

.search-logo.so, li.so {
    background-image: url("static//img/SC/scso.png"); /* 背景图片 */
}

.search-logo.google, li.google {
    background-image: url("static/img/SC/scgoogle.png"); /* 背景图片 */
}

.search-methods .search-item:hover {
    background-color: #f0f0f0; /* 悬停时背景色 */
}

.search-result {
    display: none; /* 隐藏 */
    position: absolute; /* 绝对定位 */
    width: 837px; /* 宽度 */
    top: 55px; /* 上对齐 */
    left: 40px; /* 左对齐 */
    border: 1px solid rgba(187, 187, 187, 1); /* 边框 */
    background-color: #fff; /* 背景色 */
}

.result-item {
    height: 34px; /* 高度 */
    line-height: 34px; /* 行高 */
    padding-left: 15px; /* 左内边距 */
}

.result-item.active {
    background: #F0F0F0; /* 激活时背景色 */
}

.result-item:hover {
    background-color: #eee; /* 悬停时背景色 */
    cursor: pointer; /* 鼠标指针样式 */
}

.input-wrap {
    position: relative; /* 相对定位 */
    flex: 1; /* 占据剩余空间 */
}

.input-wrap .search-input {
    height: 50px; /* 高度 */
    outline: 0; /* 去掉轮廓 */
    border: 0; /* 去掉边框 */
    font-size: 16px; /* 字体大小 */
    width: 100%; /* 宽度 */
    margin-right: 10px; /* 右外边距 */
}

.input-wrap .clear-keyword {
    display: none; /* 隐藏 */
    position: absolute; /* 绝对定位 */
    top: 50%; /* 上对齐 */
    right: 10px; /* 右对齐 */
    transform: translateY(-50%); /* 垂直居中 */
    cursor: pointer; /* 鼠标指针样式 */
    color: #d2d2d2; /* 文字颜色 */
    font-size: 30px; /* 字体大小 */
}

.search-submit {
    width: 123px; /* 宽度 */
    height: 54px; /* 高度 */
    line-height: 26px; /* 行高 */
    background-color: var(--search-button-bg-color); /* 背景色 */
    color: #fff; /* 文字颜色 */
    font-size: 18px; /* 字体大小 */
    font-weight: 500; /* 加粗 */
    text-align: center; /* 文字居中 */
    font-family: Roboto; /* 字体 */
    border: 1px solid #969696; /* 边框 */
    cursor: pointer; /* 鼠标指针样式 */
    background: linear-gradient(90deg, #ffaa00, #ff5500); /* 背景渐变 */
    float: right; /* 右浮动 */
}

/* 搜索框 end */

/* 常用地址 start */
.changyong {
    width: 100%; /* 宽度 */
    float: left; /* 左浮动 */
    display: flex; /* 弹性布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    padding-left: 0px; /* 左内边距 */
}

.cy-tag {
    color: #00384A; /* 文字颜色 */
    margin-right: auto; /* 右外边距 */
    position: static; /* 静态定位 */
    height: 120px; /* 高度 */
    text-align: center; /* 文字居中 */
    margin-left: auto; /* 左外边距 */
}

.kj-con {
    width: 55px; /* 宽度 */
    height: 55px; /* 高度 */
    border-style: none; /* 无边框样式 */
    box-shadow: 0 0; /* 无阴影 */
    border-radius: 3px; /* 圆角 */
    padding-left: 5px; /* 左内边距 */
    padding-right: 5px; /* 右内边距 */
}

.kj-c {
    min-width: 80px; /* 最小宽度 */
    clear: none; /* 不清除浮动 */
    padding-right: 5px; /* 右内边距 */
    padding-top: 10px; /* 上内边距 */
    padding-left: 5px; /* 左内边距 */
    text-align: center; /* 文字居中 */
    color: #000a19; /* 文字颜色 */
    float: left; /* 左浮动 */
    padding-bottom: 10px; /* 下内边距 */
}

.kj-c:hover {
    color: #FF7D00; /* 悬停时文字颜色 */
    float: left; /* 左浮动 */
    box-shadow: 2px 4px 8px var( --category-shadow-color ); /* 阴影 */
    border-radius: 15px; /* 圆角 */
}
/* 常用地址 end*/

.container {
    display: grid; /* 网格布局 */
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); /* 网格列最小宽度 auto-fill：自动填充网格列，根据可用空间创建尽可能多的列。
minmax(200px, 1fr)：定义每个列的最小宽度为200px，最大宽度为1fr（即占用剩余可用空间的一部分）。 */
    gap: 20px; /* 网格间距 */
    padding: 20px; /* 内边距 */
    max-width: 1400px; /* 最大宽度 */
    margin: 0 auto; /* 水平居中 */
}

.category {
    background-color: var(--category-bg-color); /* 背景色 */
    border-radius: 10px; /* 圆角 */
    padding: 20px; /* 内边距 */
    box-shadow: 2px 4px 8px var( --category-shadow-color ); /* 阴影 */
}

.category h2 {
    margin: 0 0 15px; /* 外边距 */
    font-size: 1.5em; /* 字体大小 */
}

.links {
    display: flex; /* 弹性布局 */
    flex-direction: column; /* 列布局 */
    gap: 10px; /* 间距 */
}

.links a {
    display: flex; /* 弹性布局 */
    align-items: center; /* 垂直居中 */
    text-decoration: none; /* 去掉下划线 */
}

.linklogo {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 8px;
    margin-right: 10px;
    object-fit: cover; /* 确保图片适应容器 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.text {
    flex: 1;
}

.title {
    font-weight: bold;
}

.description {
    font-size: 0.9em;
    color: #878787;
}

/* 嵌入网页start */
button {
    margin-bottom: 20px;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0px;
    background-color: transparent;
}

#iframeContainer {
            width: 100%; /* 宽度占满浏览器 */
            max-height: 0; /* 初始状态高度为0 */
            overflow: hidden; /* 隐藏溢出内容 */
            transition: max-height 0.5s ease-in-out; /* 动画效果 */
        }

        #iframeContainer.expanded {
            max-height: 100vh; /* 展开后的高度 */
        }

        iframe {
            width: 100%; /* 宽度占满容器 */
            height: 100vh; /* 高度占满浏览器 */
            border: none; /* 去掉边框 */
        }

        .hidden {
            display: none;
            max-height: 0;
            overflow: hidden;
            transition: max-height 2s ease-out;
        }

        .visible {
            display: block;
            max-height: 3000px; /* 设置一个足够大的值，确保内容可以完全展开 */
            transition: max-height 2s ease-in;
        }
/* 嵌入网页end */

footer {
    position: static;
    text-align: center;
    padding: 10px;
    clear: both;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
}
footer a {
    color: var(--footer-text-color);
}
